@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --font-color: #18181b;
    --toc-color: #6c7070;
    --background-color: #0a1111;
    --main-color: #44c0c9;

    --main-color-opacity: rgba(68, 192, 201, 0.5);
    --main-color-opacity-light: rgba(68, 192, 201, 0.1);
    --grey-color: #8e8e8e;
    --body-font: "Cabrio", sans-serif;
    --title-font: "Cabrio", sans-serif;
    --main-color-text: var(--main-color);

    --card-background-color: rgba(255, 255, 255, 0.015);
}

body {
    background-color: #fff;
    color: var(--font-color);
    scroll-behavior: smooth;
}
article {
    color: var(--font-color);
    padding: 1rem;
    max-width: fit-content;
    & a {
        padding: 0.1em;
        color: var(--font-color);
        border-bottom: 0.15em solid var(--main-color);
        font-weight: 500;
        text-decoration: none;
    }
    & a:hover {
        padding: 0.1em;
        transition: 2ms ease linear;
        background-color: var(--main-color);
    }
    & ul {
        list-style: disc;
        > li::marker {
            color: var(--grey-color);
        }
        li {
            color: var(--background-color);
        }
    }
}
#TableOfContents li:empty {
    display: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
.card {
    width: 18.5rem;
    text-align: center;
    color: var(--font-color);
    background: linear-gradient(135deg, #d3a5e39c 0%, #d8a2d214 100%);
    padding: 56px 16px 16px 16px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.25s;
    border-left: 2px solid #d3a5e3;
    a:hover {
        border: 8px;
        padding: 0.1em;
        transition: 2ms ease linear;
        background-color: var(--main-color);
    }
}
.card:hover {
    translate: 0 -4px;
}
.card .content {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.toc {
    overflow: hidden;
    min-width: 300px;
    max-width: 300px;
    max-height: fit-content;
    color: var(--toc-color);
    box-shadow: 0px 0px 1px 0.5px #00000088;
    border-radius: 5px;
    a {
        border-bottom: 0.15em solid transparent;
    }
}
.article-content {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 750px) {
    .card{
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .article-content {
        flex-direction: column-reverse;
    }
}
