@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility prose-teal {
    --tw-prose-body: #ededed;
    --tw-prose-headings: var(--color-teal-900);
    --tw-prose-lead: var(--color-teal-700);
    --tw-prose-links: var(--color-teal-900);
    --tw-prose-bold: var(--color-teal-900);
    --tw-prose-counters: var(--color-teal-600);
    --tw-prose-bullets: var(--color-teal-400);
    --tw-prose-hr: var(--color-teal-300);
    --tw-prose-quotes: var(--color-teal-900);
    --tw-prose-quote-borders: var(--color-teal-300);
    --tw-prose-captions: var(--color-teal-700);
    --tw-prose-code: var(--color-teal-900);
    --tw-prose-pre-code: var(--color-teal-100);
    --tw-prose-pre-bg: var(--color-teal-900);
    --tw-prose-th-borders: var(--color-teal-300);
    --tw-prose-td-borders: var(--color-teal-200);
    --tw-prose-invert-body: var(--color-teal-200);
    --tw-prose-invert-headings: var(--color-white);
    --tw-prose-invert-lead: var(--color-teal-300);
    --tw-prose-invert-links: var(--color-white);
    --tw-prose-invert-bold: var(--color-white);
    --tw-prose-invert-counters: var(--color-teal-400);
    --tw-prose-invert-bullets: var(--color-teal-600);
    --tw-prose-invert-hr: var(--color-teal-700);
    --tw-prose-invert-quotes: var(--color-teal-100);
    --tw-prose-invert-quote-borders: var(--color-teal-700);
    --tw-prose-invert-captions: var(--color-teal-400);
    --tw-prose-invert-code: var(--color-white);
    --tw-prose-invert-pre-code: var(--color-teal-300);
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: var(--color-teal-600);
    --tw-prose-invert-td-borders: var(--color-teal-700);
}

@utility prose-sky {
    --tw-prose-body: var(--color-sky-800);
    --tw-prose-headings: var(--color-sky-900);
    --tw-prose-lead: var(--color-sky-700);
    --tw-prose-links: var(--color-sky-900);
    --tw-prose-bold: var(--color-sky-900);
    --tw-prose-counters: var(--color-sky-600);
    --tw-prose-bullets: var(--color-sky-400);
    --tw-prose-hr: var(--color-sky-300);
    --tw-prose-quotes: var(--color-sky-900);
    --tw-prose-quote-borders: var(--color-sky-300);
    --tw-prose-captions: var(--color-sky-700);
    --tw-prose-code: var(--color-sky-900);
    --tw-prose-pre-code: var(--color-sky-100);
    --tw-prose-pre-bg: var(--color-sky-900);
    --tw-prose-th-borders: var(--color-sky-300);
    --tw-prose-td-borders: var(--color-sky-200);
    --tw-prose-invert-body: var(--color-sky-200);
    --tw-prose-invert-headings: var(--color-white);
    --tw-prose-invert-lead: var(--color-sky-300);
    --tw-prose-invert-links: var(--color-white);
    --tw-prose-invert-bold: var(--color-white);
    --tw-prose-invert-counters: var(--color-sky-400);
    --tw-prose-invert-bullets: var(--color-sky-600);
    --tw-prose-invert-hr: var(--color-sky-700);
    --tw-prose-invert-quotes: var(--color-sky-100);
    --tw-prose-invert-quote-borders: var(--color-sky-700);
    --tw-prose-invert-captions: var(--color-sky-400);
    --tw-prose-invert-code: var(--color-white);
    --tw-prose-invert-pre-code: var(--color-sky-300);
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: var(--color-sky-600);
    --tw-prose-invert-td-borders: var(--color-sky-700);
}

:root {
    --gray--gray-900: #212121;
    --gray--gray-100: #e3e3e3;
    --text-size--text-body: 0.875rem;
    --font-display: paralucent, sans-serif;
    --white: white;
    --text-size--text-6x: 3.25rem;
    --headings--line-height: 1em;
    --text-size--text-5x: 2.5rem;
    --text-size--text-4x: 1.925rem;
    --text-size--text-3x: 1.4785rem;
    --text-size--text-2x: 1.1375rem;
    --text-size--text-1x: 1rem;
    --font-sans: Inter, sans-serif;
    --gray--gray-200: #c9c9c9;
    --text-size--text-xs: 0.75rem;
    --gray--gray-700: #1f1f1f;
    --gray--gray-600: #2f2f2f;
    --border-radius-lg: 0.5rem;
    --gray--gray-800: #171717;
    --black: black;
    --grey-cta\<deleted\|variable-47d675cd\>: #3e4754;
    --grey-dim\<deleted\|variable-c7981d17\>: #666c76;
    --grey-headings\<deleted\|variable-8250c1d1\>: #e2e2e2;
    --amber-link-text\<deleted\|variable-749c1f8e\>: #fea100;
    --gray--gray-300: #ababab;
    --gray--gray-500: #454545;
    --amber--amber-500: #eea11b;
    --grey-medium\<deleted\|variable-8bfe14cb\>: #999;
    --amber--amber-600: #be7d0e;
    --green--green-500: #11e481;
    --gray--gray-400: #646464;
    --grey-background\<deleted\|variable-642cd382\>: #171515;
    --amber-cta\<deleted\|variable-68a6d3aa\>: #bf7900;
    --grey-boxes\<deleted\|variable-cc03315f\>: #222426;
    --grey-body\<deleted\|variable-8298d6fd\>: #ccc;
    --code-block\<deleted\|variable-e47f92a5\>: #da742e;
    --border-radius: 0.25rem;
    --teal--teal-500: #11e4e4;
    --amber--amber-800: #553807;
    --amber--amber-400: #f3ba59;
    --yellow--yellow-900: #2b2403;
    --margin--margin-md: 1rem;
    --margin--margin-4xl: 3rem;
    --margin--margin-3xl: 2rem;
    --blue--blue-500: #40aef2;
    --amber--amber-700: #85580a;
    --margin--margin-sm: 0.5rem;
    --blue--blue-900: #03182b;
    --blue--blue-800: #063755;
    --margin--margin-lg: 1.5rem;
    --margin--margin-xs: 0.25rem;
    --yellow--yellow-500: #f1c541;
    --purple--purple-500: #b54be7;
    --green--green-800: #06552e;
    --purple--purple-900: #200628;
    --amber--amber-900: #2b1c03;
    --yellow--yellow-600: #cca00f;
    --amber--amber-200: #f8d8a0;
    --text-size--text-7x: 4.25rem;
    --teal--teal-900: #032b2b;
    --red--red-500: #f14150;
    --teal--teal-600: #0dafaf;
    --teal--teal-400: #58f3f3;
    --font-mono: Inconsolata, Verdana, sans-serif;
    --yellow--yellow-100: #fdf9de;
    --red--red-100: #fddde0;
    --red--red-200: #f8a0a7;
    --red--red-300: #f57a84;
    --red--red-400: #f35865;
    --red--red-600: #cc0f1f;
    --red--red-700: #850a14;
    --red--red-800: #56060d;
    --red--red-900: #2b0306;
    --teal--teal-100: #ddfdfd;
    --teal--teal-200: #bdfafa;
    --amber--amber-100: #fcf0df;
    --amber--amber-300: #f6c879;
    --blue--blue-100: #dff0fc;
    --blue--blue-200: #a0d6f8;
    --blue--blue-300: #79c6f6;
    --blue--blue-400: #59b8f3;
    --blue--blue-600: #0f84c2;
    --blue--blue-700: #0a5285;
    --teal--teal-300: #86f9f9;
    --teal--teal-700: #0a8585;
    --teal--teal-800: #065656;
    --yellow--yellow-200: #f8e0a0;
    --yellow--yellow-300: #f5d67a;
    --yellow--yellow-400: #f3cf59;
    --yellow--yellow-700: #85660a;
    --yellow--yellow-800: #554206;
    --card-height: 250px;
    --card-width: 200px;
}

body {
    background-color: var(--gray--gray-900);
    border: 2px solid rgba(255, 255, 255, 0.222);
    color: var(--gray--gray-100);
}
.toc{
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
.card {
    width: var(--card-width);
    height: var(--card-height);
    background: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 3px 1px #00000088;
    cursor: pointer;
}

.card .content {
    width: calc(var(--card-width) - 5px);
    height: calc(var(--card-height) - 4px);
    border-radius: 5px;
    background: #171717;
    z-index: 1;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content::before {
    opacity: 0;
    transition: opacity 300ms;
    content: " ";
    display: block;
    background: white;
    width: 5px;
    height: 50px;
    position: absolute;
    filter: blur(50px);
    overflow: hidden;
}

.card:hover .content::before {
    opacity: 1;
}

.card::before {
    opacity: 0;
    content: " ";
    position: absolute;
    display: block;
    width: 80px;
    height: 360px;
    background: linear-gradient(#ff2288, #387ef0);
    transition: opacity 300ms;
    animation: rotation_9018 8000ms infinite linear;
    animation-play-state: paused;
}

.card:hover::before {
    opacity: 1;
    animation-play-state: running;
}

.card::after {
    position: absolute;
    content: " ";
    display: block;
    width: 250px;
    height: 360px;
    background: #17171733;
    backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card .content p{
    display: none;
}
