{{define "main"}}

<article
    class="prose prose-sky dark:prose-invert p-5 prose-a:no-underline prose-a:hover:underline overflow-hidden max-w-full"
>
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
    <div class="grid grid-cols-[1fr_300px] gap-4">
        <section class="overflow-auto">{{.Content}}</section>
        <div
            class="toc prose dark:prose-invert prose-a:no-underline prose-a:hover:underline  max-h-fit max-w-full p-3 overflow-hidden"
        >
            {{.TableOfContents}}
        </div>
    </div>
</article>
{{end}}
